*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}
body{
    background:linear-gradient(135deg,rgba(175,106,252,1) 39%, rgba(116,255,1)100%);
    border-radius: 50px;
}
.card{
     
    border: none;
    border-top: 5px solid purple;
    background: #212042;
    color: lightblue;
}   
#icon{
    font-size: 50px;
}
hr{color: white;
font-weight: bold   ;
}
p{
    font-size: 20px;
    font-weight: 500;
}
.btn-primarybtn {
    background:linear-gradient(135deg,rgba(175,106,252,1) 39%, rgba(116,255,1)100%);
    border-radius: 50px;
}
